<!-- Google Maps -->
<agm-map [latitude]="lat" [longitude]="lng">
    <ng-container *ngFor="let place of places">
      <agm-marker [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
    </ng-container>
</agm-map>

<!-- Google Maps -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Lugares Cercanos</h2>
            <div class="form-group">
                <a class="btn btn-primary" routerLink="/places/create/new">Crear Nuevo Negocio</a>
            </div>
            <ul class="list-group">
                <ng-container *ngFor="let place of places">
                    <a routerLink="/places/detail/{{ place.id }}">
                        <li class="list-group-item">
                            {{ place.name | uppercase }}
                            <br>
                            <small>
                               Creado el {{ place.id | date: 'medium' | uppercase }}
                               <!-- medium, mediumTime, fullDate, short, shortTime -->
                            </small>
                            <a routerLink="/places/create/{{ place.id }}" class="btn btn-default btn-xs pull-right">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <br>
                            <!-- number: '1.2-2' |  -->
                            <span class="text-warning"> {{ '123122.24893' | number: '1.2-2' }}  </span> |
                            <span class="text-danger">  {{ '123122.24893' | percent: '1.2-2' }} </span> |
                            <span class="text-muted"> {{ '123122.24893' | currency: 'NIO': 'symbol-narrow': '1.2-2' }} </span>

                        </li>
                    </a>
                </ng-container>
            </ul>
        </div>
        <div class=" col-md-offset-2 col-md-6">
            <h2>Destacados</h2>
        </div>
    </div>
</div>
