<!-- Google Maps -->
<agm-map [latitude]="lat" [longitude]="lng">
    <ng-container *ngFor="let place of places">
      <agm-marker [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
    </ng-container>
</agm-map>

<!-- Google Maps -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Lugares Cercanos</h2>
            <div class="form-group">
                <a class="btn btn-primary" routerLink="/places/create/new">Crear Nuevo Negocio</a>
            </div>
            <ul class="list-group">
                <ng-container *ngFor="let place of places">
                    <li class="list-group-item">
                        <a routerLink="/places/detail/{{ place.id }}">
                           <h4>{{ place.name | uppercase }}</h4>
                           <a routerLink="/places/create/{{ place.id }}" class="btn btn-default btn-xs pull-right">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                           </a>
                        </a><br>
                        <small class="text-muted">
                           <!-- medium, mediumTime, fullDate, short, shortTime -->
                            Creado el {{ place.id | date: 'medium' | uppercase }}
                        </small>
                        <br>
                        <!--
                        <span class="text-warning"> {{ '123122.24893' | number: '1.2-2' }}  </span> |
                        <span class="text-danger">  {{ '123122.24893' | percent: '1.2-2' }} </span> |
                        <span class="text-muted"> {{ '123122.24893' | currency: 'NIO': 'symbol-narrow': '1.2-2' }} </span>
                        -->
                        <p [innerHTML]="place.description | linkifystr"></p>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-offset-2 col-md-6" [@fadeAnimation]="animationState">
            <h2>Destacados</h2>
            <ng-container *ngFor="let place of places">
                <div class="bg-warning fix-space" *ngIf="place.plan == 'pagado'">
                    <a routerLink="/places/detail/{{ place.id }}">
                      <h4>{{ place.name | uppercase }}</h4>
                      <p [innerHTML]="place.description | linkifystr"></p>
                    </a><br>
                </div>
            </ng-container>
        </div>
    </div>
</div>
