/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 300px;
}

.par-number{
  background-color: aliceblue;
  color: blue;
}

.navbar-inverse {
  margin-bottom: 2px !important;
}

.control-label {
  text-align: left !important;
}
